body {
    margin: 0;
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    background-color: black;
    color: white;
    line-height: 25px;
}

html,
body {
    height: 100%;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header{
    margin: 0 auto;
    width: 50vw;
    height: 3.5rem;
    background-color: black;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    border-left: 3px solid #212121;
    border-bottom: 3px solid #212121;
    border-right: 3px solid #212121;
    animation: fadeIn ease 1s;
}

a{
    text-decoration: none;
    color: white; 
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.main{
    color: white;
    margin: 0 auto;
    width: 60vw;
    border-left: 3px solid #212121;
    border-top: 3px solid #212121;
    border-right: 3px solid #212121;
    border-bottom: 3px solid #212121;
    border-radius: 1.5rem;
    margin-top: 50px;
    margin-bottom: 2rem;
    animation: fadeIn ease 1s;
}

.main__span{
    font-weight: 700;
}

.main__title{
    font-size: 20px;
    margin-bottom: 0.25rem;
    padding: 1rem 0px 0px 1.5rem;
}

.main__p{
    font-size: 18px;
    width: 50vw;
    margin-left: 2.5rem;
    margin-bottom: 1rem;
}

.section__text{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0.25rem;
    padding: 1rem 0px 0px 1.5rem;
}

.section{
    margin: 0 auto;
    width: 60vw;
    border-left: 3px solid #212121;
    border-top: 3px solid #212121;
    border-right: 3px solid #212121;
    border-bottom: 3px solid #212121;
    border-radius: 1.5rem;
    flex: 1 1 auto;
    margin-bottom: 2rem;
    animation: fadeIn ease 1s;
}

.section__img{
    width: 60vw;
    height: 50vh;
    border-radius: 1.5rem;
    margin-top: 1.5rem;
}

.footer{
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    border-left: 3px solid #212121;
    border-top: 3px solid #212121;
    border-right: 3px solid #212121;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    width: 60vw;
    margin: 0 auto;
    margin-top: 2.5rem;
    padding: 1rem 0px;
    animation: fadeIn ease 1s;
}

.lastimg{
    width: 60vw;
    margin: 2.5rem 0rem;
    border-left: 3px solid #212121;
    border-top: 3px solid #212121;
    border-right: 3px solid #212121;
    border-bottom: 3px solid #212121;
    border-radius: 1.5rem;
    height: 50vh;
    animation: fadeIn ease 1s;
}

.section__lastimg{
    margin: 0 auto;
}

.section__second{
    width: 70vw;
    border-left: 3px solid #212121;
    border-top: 3px solid #212121;
    border-right: 3px solid #212121;
    border-bottom: 3px solid #212121;
    border-radius: 1.5rem;
    margin: 0 auto;
    animation: fadeIn ease 1s;
    margin-bottom: 2rem;
}

.section__second-title{
    margin-bottom: 0.25rem;
    padding: 1rem 0px 0px 1.5rem;
    font-weight: 700;
    font-size: 20px;
}

.section__second-p{
    margin-bottom: 0.25rem;
    padding: 1rem 0px 1rem 1.5rem;
    font-size: 18px;
}

.infoAbout__about-tetra-text{
    display: none;
}

.infoAbout__tetra{
    margin: 1rem 0rem 0rem 0rem;
    margin-left: 3rem;
}

.section__infoAbout-title{
    margin-top: 1.0rem;
    margin-left: 3rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.section__infoAbout{
    animation: fadeIn ease 1s;
    margin: 0 auto;
    width: 50vw;
    border-bottom: 3px solid #212121;
    border-top: 3px solid #212121;
    border-left: 3px solid #212121;
    border-right: 3px solid #212121;
    border-radius: 1.5rem;
}

.infoAbout__blank-tetra{
    border-bottom: 3px solid #212121;
    border-top: 3px solid #212121;
    border-left: 3px solid #212121;
    border-right: 3px solid #212121;
    padding: 0.75rem 1rem 0.75rem 0.50rem;
    cursor: pointer;
    width: 20vw;
    margin:0 auto;
}

.div__forIframe{
    font-weight: 700;
    font-size: 20;
}

.textDivForIframe{
    width: 28vw;
    text-align: center;
    border-bottom: 3px solid #212121;
    border-top: 3px solid #212121;
    border-left: 3px solid #212121;
    border-right: 3px solid #212121;
    border-radius: 1.5rem;
    padding: 0.5rem 1.5rem;
    margin: 0 auto;
    animation: fadeIn ease 1s;
}

.ya-xz{
    margin-bottom: 2.5rem;
}

.infoAbout__blank-saza{
    border-bottom: 3px solid #212121;
    border-top: 3px solid #212121;
    border-left: 3px solid #212121;
    border-right: 3px solid #212121;
    padding: 0.75rem 1rem 0.75rem 0.50rem;
    cursor: pointer;
    width: 20vw;
    margin:0 auto;
}

iframe{
    animation: fadeIn ease 1s;
}

.infoAbout__blank-stas{
    border-bottom: 3px solid #212121;
    border-top: 3px solid #212121;
    border-left: 3px solid #212121;
    border-right: 3px solid #212121;
    padding: 0.75rem 1rem 0.75rem 0.50rem;
    cursor: pointer;
    width: 20vw;
    margin:0 auto;
}

.infoAbout__blank-bis{
    border-bottom: 3px solid #212121;
    border-top: 3px solid #212121;
    border-left: 3px solid #212121;
    border-right: 3px solid #212121;
    padding: 0.75rem 1rem 0.75rem 0.50rem;
    cursor: pointer;
    width: 20vw;
    margin:0 auto;
}

.infoAbout__blank-zulus{
    border-bottom: 3px solid #212121;
    border-top: 3px solid #212121;
    border-left: 3px solid #212121;
    border-right: 3px solid #212121;
    padding: 0.75rem 1rem 0.75rem 0.50rem;
    cursor: pointer;
    width: 20vw;
    margin:0 auto;
}

.infoAbout__blank-shad{
    border-bottom: 3px solid #212121;
    border-top: 3px solid #212121;
    border-left: 3px solid #212121;
    border-right: 3px solid #212121;
    padding: 0.75rem 1rem 0.75rem 0.50rem;
    cursor: pointer;
    width: 20vw;
    margin:0 auto;
}

.infoAbout__blank-nigh{
    border-bottom: 3px solid #212121;
    border-top: 3px solid #212121;
    border-left: 3px solid #212121;
    border-right: 3px solid #212121;
    padding: 0.75rem 1rem 0.75rem 0.50rem;
    cursor: pointer;
    width: 20vw;
    margin:0 auto;
}

.infoAbout__blank-hida{
    border-bottom: 3px solid #212121;
    border-top: 3px solid #212121;
    border-left: 3px solid #212121;
    border-right: 3px solid #212121;
    padding: 0.75rem 1rem 0.75rem 0.50rem;
    cursor: pointer;
    width: 20vw;
    margin:0 auto;
}

.infoAbout__blank-eruby{
    border-top: 3px solid #212121;
    border-left: 3px solid #212121;
    border-right: 3px solid #212121;
    padding: 0.75rem 1rem 0.75rem 0.50rem;
    cursor: pointer;
    width: 20vw;
    margin:0 auto;
}

.eruby__border{
    border-bottom: 3px solid #212121;
}

.infoAbout__about-avatar{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding: 0rem 0rem 0.7rem 0rem;
}

.infoAbout__about-p{
    width: 40vw;
    margin: 0 auto;
    padding: 0rem 0rem 0.7rem 0rem;
}

.infoAbout__about-ip{
    text-align: center;
    padding: 0rem 0rem 0.3rem 0rem;
}

.infoAbout__inimg{
    width: 100px;
    height: 100px;
    border-radius: 100rem;
    display:block;
    margin:0 auto;
    padding: 1rem 0rem;
}

.infoAbout__about-saza-text{
    display: none;
}

.infoAbout__about-utka-text{
    display: none;
}

.infoAbout__about-nigh-text{
    display: none;
}

.infoAbout__about-stas-text{
    display: none;
}

.infoAbout__about-zulus-text{
    display: none;
}

.infoAbout__about-hida-text{
    display: none;
}

.infoAbout__about-shad-text{
    display: none;
}

.infoAbout__about-bis-text{
    display: none;
}

.infoAbout__about-eruby-text{
    display: none;
}

.infoAbout__blank-utka{
    border-top: 3px solid #212121;
    border-left: 3px solid #212121;
    border-right: 3px solid #212121;
    border-bottom: 3px solid #212121;
    padding: 0.75rem 1rem 0.75rem 0.50rem;
    cursor: pointer;
    width: 20vw;
    margin:0 auto;
}

@media (max-width: 1500px) {
    .infoAbout__blank-utka{
        width: 25vw;
    }

    .infoAbout__blank-saza{
        width: 25vw;
    }

    .infoAbout__blank-tetra{
        width: 25vw;
    }

    .infoAbout__blank-stas{
        border-bottom: 3px solid #212121;
        border-top: 3px solid #212121;
        border-left: 3px solid #212121;
        border-right: 3px solid #212121;
        padding: 0.75rem 1rem 0.75rem 0.50rem;
        cursor: pointer;
        width: 25vw;
    }
    
    .infoAbout__blank-bis{
        border-bottom: 3px solid #212121;
        border-top: 3px solid #212121;
        border-left: 3px solid #212121;
        border-right: 3px solid #212121;
        padding: 0.75rem 1rem 0.75rem 0.50rem;
        cursor: pointer;
        width: 25vw;
    }
    
    .infoAbout__blank-zulus{
        border-bottom: 3px solid #212121;
        border-top: 3px solid #212121;
        border-left: 3px solid #212121;
        border-right: 3px solid #212121;
        padding: 0.75rem 1rem 0.75rem 0.50rem;
        cursor: pointer;
        width: 25vw;
    }
    
    .infoAbout__blank-shad{
        border-bottom: 3px solid #212121;
        border-top: 3px solid #212121;
        border-left: 3px solid #212121;
        border-right: 3px solid #212121;
        padding: 0.75rem 1rem 0.75rem 0.50rem;
        cursor: pointer;
        width: 25vw;
    }
    
    .infoAbout__blank-nigh{
        border-bottom: 3px solid #212121;
        border-top: 3px solid #212121;
        border-left: 3px solid #212121;
        border-right: 3px solid #212121;
        padding: 0.75rem 1rem 0.75rem 0.50rem;
        cursor: pointer;
        width: 25vw;
    }
    
    .infoAbout__blank-hida{
        border-bottom: 3px solid #212121;
        border-top: 3px solid #212121;
        border-left: 3px solid #212121;
        border-right: 3px solid #212121;
        padding: 0.75rem 1rem 0.75rem 0.50rem;
        cursor: pointer;
        width: 25vw;
    }
    
    .infoAbout__blank-eruby{
        border-bottom: 0px solid #212121;
        border-top: 3px solid #212121;
        border-left: 3px solid #212121;
        border-right: 3px solid #212121;
        padding: 0.75rem 1rem 0.75rem 0.50rem;
        cursor: pointer;
        width: 25vw;
    }

    .textDivForIframe{
        width: 38vw;
    }
    
}

@media (max-width: 1200px) {
    .infoAbout__blank-utka{
        width: 35vw;
    }

    .infoAbout__blank-saza{
        width: 35vw;
    }

    .infoAbout__blank-tetra{
        width: 35vw;
    }

    .infoAbout__blank-stas{
        border-bottom: 3px solid #212121;
        border-top: 3px solid #212121;
        border-left: 3px solid #212121;
        border-right: 3px solid #212121;
        padding: 0.75rem 1rem 0.75rem 0.50rem;
        cursor: pointer;
        width: 35vw;
    }
    
    .infoAbout__blank-bis{
        border-bottom: 3px solid #212121;
        border-top: 3px solid #212121;
        border-left: 3px solid #212121;
        border-right: 3px solid #212121;
        padding: 0.75rem 1rem 0.75rem 0.50rem;
        cursor: pointer;
        width: 35vw;
    }
    
    .infoAbout__blank-zulus{
        border-bottom: 3px solid #212121;
        border-top: 3px solid #212121;
        border-left: 3px solid #212121;
        border-right: 3px solid #212121;
        padding: 0.75rem 1rem 0.75rem 0.50rem;
        cursor: pointer;
        width: 35vw;
    }
    
    .infoAbout__blank-shad{
        border-bottom: 3px solid #212121;
        border-top: 3px solid #212121;
        border-left: 3px solid #212121;
        border-right: 3px solid #212121;
        padding: 0.75rem 1rem 0.75rem 0.50rem;
        cursor: pointer;
        width: 35vw;
    }
    
    .infoAbout__blank-nigh{
        border-bottom: 3px solid #212121;
        border-top: 3px solid #212121;
        border-left: 3px solid #212121;
        border-right: 3px solid #212121;
        padding: 0.75rem 1rem 0.75rem 0.50rem;
        cursor: pointer;
        width: 35vw;
    }
    
    .infoAbout__blank-hida{
        border-bottom: 3px solid #212121;
        border-top: 3px solid #212121;
        border-left: 3px solid #212121;
        border-right: 3px solid #212121;
        padding: 0.75rem 1rem 0.75rem 0.50rem;
        cursor: pointer;
        width: 35vw;
    }
    
    .infoAbout__blank-eruby{
        border-bottom: 0px solid #212121;
        border-top: 3px solid #212121;
        border-left: 3px solid #212121;
        border-right: 3px solid #212121;
        padding: 0.75rem 1rem 0.75rem 0.50rem;
        cursor: pointer;
        width: 35vw;
    }

    .textDivForIframe{
        width: 48vw;
    }
    
}

@media (max-width: 992px) {
    .header{
        width: 75vw;
    }

    .lastimg{
        width: 75vw;
    }

    .infoAbout__about-p{
        width: 90%;
    }

    .textDivForIframe{
        width: 100vw;
        border-bottom: 3px solid #212121;
        border-top: 3px solid #212121;
        border-left: 0px solid #212121;
        border-right: 0px solid #212121;
        border-radius: 0rem;
        margin: 0
    }
    
    .footer{
        width: 75vw;
    }
    .infoAbout__blank-utka{
        width: 47.2vw;
    }
    .infoAbout__blank-tetra{
        width: 47.2vw;
    }
    .infoAbout__blank-saza{
        width: 47.2vw;
    }
    .infoAbout__tetra{
        margin-left: 0rem;
    }
    .section__infoAbout-title{
        margin-left: 0.5rem;
        font-size: 18px;
    }

    .infoAbout__blank-stas{
        border-bottom: 3px solid #212121;
        border-top: 3px solid #212121;
        border-left: 0px solid #212121;
        border-right: 0px solid #212121;
        padding: 0.75rem 1rem 0.75rem 0.50rem;
        cursor: pointer;
        width: 96.05%;
    }
    
    .infoAbout__blank-bis{
        border-bottom: 3px solid #212121;
        border-top: 3px solid #212121;
        border-left: 0px solid #212121;
        border-right: 0px solid #212121;
        padding: 0.75rem 1rem 0.75rem 0.50rem;
        cursor: pointer;
        width: 96.05%;
    }
    
    .infoAbout__blank-zulus{
        border-bottom: 3px solid #212121;
        border-top: 3px solid #212121;
        border-left: 0px solid #212121;
        border-right: 0px solid #212121;
        padding: 0.75rem 1rem 0.75rem 0.50rem;
        cursor: pointer;
        width: 96.05%;
    }
    
    .infoAbout__blank-shad{
        border-bottom: 3px solid #212121;
        border-top: 3px solid #212121;
        border-left: 0px solid #212121;
        border-right: 0px solid #212121;
        padding: 0.75rem 1rem 0.75rem 0.50rem;
        cursor: pointer;
        width: 96.05%;
    }
    
    .infoAbout__blank-nigh{
        border-bottom: 3px solid #212121;
        border-top: 3px solid #212121;
        border-left: 0px solid #212121;
        border-right: 0px solid #212121;
        padding: 0.75rem 1rem 0.75rem 0.50rem;
        cursor: pointer;
        width: 96.05%;
    }
    
    .infoAbout__blank-hida{
        border-bottom: 3px solid #212121;
        border-top: 3px solid #212121;
        border-left: 0px solid #212121;
        border-right: 0px solid #212121;
        padding: 0.75rem 1rem 0.75rem 0.50rem;
        cursor: pointer;
        width: 96.05%;
    }
    
    .infoAbout__blank-eruby{
        border-bottom: 0px solid #212121;
        border-top: 3px solid #212121;
        border-left: 0px solid #212121;
        border-right: 0px solid #212121;
        padding: 0.75rem 1rem 0.75rem 0.50rem;
        cursor: pointer;
        width: 96.05%;
    }

    .infoAbout__blank-saza{
        border-bottom: 3px solid #212121;
        border-top: 3px solid #212121;
        border-left: 0px solid #212121;
        border-right: 0px solid #212121;
    }

    .infoAbout__blank-tetra{
        border-bottom: 3px solid #212121;
        border-top: 3px solid #212121;
        border-left: 0px solid #212121;
        border-right: 0px solid #212121;
    }

    .infoAbout__blank-utka{
        border-top: 3px solid #212121;
        border-left: 0px solid #212121;
        border-right: 0px solid #212121;
    }

    .main{
        width: 75vw;
    }

    .section__second{
        width: 75%;
    }

    .section{
        width: 75vw;
    }

    .section__img{
        width: 75vw;
    }

    .section__infoAbout{
        width: 65vw;
    }

    .infoAbout__blank-utka{
        width: 96.05%;
    }

    .infoAbout__blank-tetra{
        width: 96.05%;
    }

    .infoAbout__blank-saza{
        width: 96.05%;
    }

    .main__p{
        width: 70vw;
    }

    .section__text{
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .header{
        width: 100%;
        border-bottom-left-radius: 0rem;
        border-bottom-right-radius: 0rem;
        border-left: 0px solid #212121;
        border-bottom: 3px solid #212121;
        border-right: 0px solid #212121;
    }

    .infoAbout__about-p{
        font-size: 18px;
    }

    .textDivForIframe{
        width: 100vw;
        border-bottom: 3px solid #212121;
        border-top: 3px solid #212121;
        border-left: 0px solid #212121;
        border-right: 0px solid #212121;
        border-radius: 0rem;
        margin: 0 auto;
        padding: 0.5rem 0rem;
    }
    
    
    .lastimg{
        width: 100vw;
        border-left: 0px solid #212121;
        border-top: 3px solid #212121;
        border-right: 0px solid #212121;
        border-bottom: 3px solid #212121;
        border-radius: 0rem;
    }

    .infoAbout__blank-stas{
        border-bottom: 3px solid #212121;
        border-top: 3px solid #212121;
        border-left: 0px solid #212121;
        border-right: 0px solid #212121;
        padding: 0.75rem 1rem 0.75rem 0.50rem;
        cursor: pointer;
        width: 100vw;
    }
    
    .infoAbout__blank-bis{
        border-bottom: 3px solid #212121;
        border-top: 3px solid #212121;
        border-left: 0px solid #212121;
        border-right: 0px solid #212121;
        padding: 0.75rem 1rem 0.75rem 0.50rem;
        cursor: pointer;
        width: 100vw;
    }
    
    .infoAbout__blank-zulus{
        border-bottom: 3px solid #212121;
        border-top: 3px solid #212121;
        border-left: 0px solid #212121;
        border-right: 0px solid #212121;
        padding: 0.75rem 1rem 0.75rem 0.50rem;
        cursor: pointer;
        width: 100vw;
    }
    
    .infoAbout__blank-shad{
        border-bottom: 3px solid #212121;
        border-top: 3px solid #212121;
        border-left: 0px solid #212121;
        border-right: 0px solid #212121;
        padding: 0.75rem 1rem 0.75rem 0.50rem;
        cursor: pointer;
        width: 100vw;
    }
    
    .infoAbout__blank-nigh{
        border-bottom: 3px solid #212121;
        border-top: 3px solid #212121;
        border-left: 0px solid #212121;
        border-right: 0px solid #212121;
        padding: 0.75rem 1rem 0.75rem 0.50rem;
        cursor: pointer;
        width: 100vw;
    }
    
    .infoAbout__blank-hida{
        border-bottom: 3px solid #212121;
        border-top: 3px solid #212121;
        border-left: 0px solid #212121;
        border-right: 0px solid #212121;
        padding: 0.75rem 1rem 0.75rem 0.50rem;
        cursor: pointer;
        width: 100vw;
    }
    
    .infoAbout__blank-eruby{
        border-bottom: 0px solid #212121;
        border-top: 3px solid #212121;
        border-left: 0px solid #212121;
        border-right: 0px solid #212121;
        padding: 0.75rem 1rem 0.75rem 0.50rem;
        cursor: pointer;
        width: 100vw;
    }

    .infoAbout__blank-saza{
        border-bottom: 3px solid #212121;
        border-top: 3px solid #212121;
        border-left: 0px solid #212121;
        border-right: 0px solid #212121;
    }

    .infoAbout__blank-tetra{
        border-bottom: 3px solid #212121;
        border-top: 3px solid #212121;
        border-left: 0px solid #212121;
        border-right: 0px solid #212121;
    }

    .infoAbout__blank-utka{
        border-bottom: 3px solid #212121;
        border-top: 3px solid #212121;
        border-left: 3px solid #212121;
        border-right: 3px solid #212121;
    }

    .main__title{
        font-size: 18px;
    }
    
    .main__p{
        font-size: 16px;
    }

    .section__second-title{
        font-size: 18px;
    }

    .section__second-p{
        font-size: 16px;
    }

    .name{
        font-size: 18px;
    }
    
    .main{
        width: 100vw;
        border-radius: 0px;
        border-left: 0px solid #212121;
        border-top: 3px solid #212121;
        border-right: 0px solid #212121;
        border-bottom: 3px solid #212121;
    }

    .section__second{
        width: 100%;
        border-left: 0px solid #212121;
        border-top: 3px solid #212121;
        border-right: 0px solid #212121;
        border-bottom: 3px solid #212121;
        border-radius: 0px;
    }

    .section__second-title{
        padding: 1.5rem 0rem 0rem 0.5rem;
    }

    .section__second-p{
        padding: 0.5rem 0rem 0.5rem 1rem;
    }

    .section{
        width: 100vw;
        border-left: 0px solid #212121;
        border-top: 3px solid #212121;
        border-right: 0px solid #212121;
        border-bottom: 3px solid #212121;
        border-radius: 0px;
    }

    .section__img{
        width: 100vw;
        border-radius: 0px;
    }

    .footer{
        width: 100%;
        border-radius: 0px;
        border-left: 0px solid #212121;
        border-top: 3px solid #212121;
        border-right: 0px solid #212121;
    }
    .infoAbout__blank-utka{
        width: 100%;
    }
    .infoAbout__blank-tetra{
        width: 100%;
    }
    .infoAbout__blank-saza{
        width: 100%;
    }
    .section__infoAbout{
        width: 100vw;
    }
    .section__infoAbout{
        overflow-x: hidden;
        border-radius: 0rem;
        border-bottom: 3px solid #212121;
        border-top: 3px solid #212121;
        border-left: 0px solid #212121;
        border-right: 0px solid #212121;
    }
    .infoAbout__blank-saza{
        border-bottom: 3px solid #212121;
        border-top: 3px solid #212121;
        border-left: 0px solid #212121;
        border-right: 0px solid #212121;
    }
    .infoAbout__blank-utka{
        border-bottom: 3px solid #212121;
        border-top: 3px solid #212121;
        border-left: 0px solid #212121;
        border-right: 0px solid #212121;
    }
    .infoAbout__blank-tetra{
        border-bottom: 3px solid #212121;
        border-top: 3px solid #212121;
        border-left: 0px solid #212121;
        border-right: 0px solid #212121;
    }
}

@media (max-width: 434px) {
    .div__forIframe{
    font-size: 18px;
    }

    .section__infoAbout-title{
    font-size: 16px;
    }

    .infoAbout__about-p{
        width: 95%;
    }
}

@media (max-width: 380px) {
    .div__forIframe{
        font-size: 16px;
    } 

    .section__infoAbout-title{
        font-size: 14px;
        }
}
