body {
    margin: 0;
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    background-color: black;
    color: white;
    background: black url(./nigger.jpg); 
    background-size: 100% 500%;
}

.header{
    margin: 0 auto;
    width: 50vw;
    height: 3.5rem;
    background-color: black;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

a{
    text-decoration: none;
    color: white; 
    animation: fadeIn ease 1s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@media (max-width: 992px) {
    .header{
        width: 75vw;
    }
}

@media (max-width: 768px) {
    .header{
        width: 100%;
        border-bottom-left-radius: 0rem;
        border-bottom-right-radius: 0rem;
    }
}


